@CHARSET "UTF-8";
*{
	font-family: Arial, Verdana, sans-serif;
/* 	color:#665544; */
}

.InputForm{
	border-bottom: 1px solid #efefef;
	margin: 10px;
	padding: 5px;
	width: 400px;
 /*	border: 1px solid red; */
	
}

.click, .pgBtn, .pgBtn2, #selectBox{
	color: #ffffff;
	background-color: #719c92;
	border:none;
	font-size:16px;
	border-radius:5px;
	margin-right:20px;
	height:30px;
	width:80px;
	text-align:center;
	color: #edd14a;
}

.click2{
	color: #ffffff;
	background-color: #719c92;
	border:none;
	font-size:16px;
	border-radius:5px;
	height:30px;
	width:60px;
	text-align:center;
	color: #edd14a;
}

.pgBtn, .pgBtn2{
	margin-right:5px;
	width:50px;
}

.pgBtn{width:30px;}

#testButton{width:150px;}

#PaginationDiv{margin: 10px;}

#selectBox{
	width:100px;
	}

.title{
	float:left;
/* 	vertical-align:middle; */
	width:100px;
	text-align: right;
	padding-right:20px;
	line-height:20px;	
}

.block{ 	
	float: left;
	margin: 30px;
}



#QueryTable{ 
	/*height: 300px;*/
/*border:1px solid red; */ 
	}

.QueryTable_TR{
height:25px;	
}	

legend{
	background-color: #efefef;
	border: 1px solid #dcdcdc;
	border-radius:10px;
	padding: 5px 10px;
	margin:10px;
	text-align: center;
}


table, th, td{
	text-align: center;
	font-size:16px;
	border:2px solid #dcdcdc;
	border-radius:5px;
	height:45px;/* 改table高度 */ 
}


fieldset{
		width: 300px;
		border-radius:20px;
		margin-bottom:15px;
		margin-top:5px;
}

#clock{
	padding:5px 40px;
}


#insideTR:hover{
	background-color: #c3e6e5;
}

input:hover{
	background-color: #c3e6e5;	
	border: 2px solid #999999;
}