@charset "UTF-8";

/**
 * 
 * @authors Hsueh (you@example.org)
 * @date    2017-06-02 17:10:54
 * @version $Id$
 */

body {
    font: normal 18px 微軟正黑體;
}

.leftBar {
    background-size: cover;
    height: 300px;
}

.rightHTML {
    height: 300px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 18px;
    display: none;
    background-color: white;
}

.btn-group-vertical {
    display: none;
}

.btn-default {
    font-size: 16px;
}

#logo {
    width: 100%;
}

.topTitle {
    /*background-color: hsl(120, 50%, 90%);*/
    background-color: #719c92;
}

h1 {
    text-align: center;
    font: bold 72px 思源黑體;
    color: #edd14a;
}

tr {
    text-align: center;
    vertical-align:middle;
}

td {
	padding: 5px;
    white-space: nowrap;
    font: normal 18px 微軟正黑體;
    text-align: center;
    margin-bottom: -30px;
}

.searchBar {
    text-align: center;
}

.table {
    border-width: 3px;
    border-color: black;
    margin-left: -200px;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ccc;
}

.table-hover tbody tr:hover {
    background-color: #84d8d1;
}

thead {
    background-color: #719c92;
    color: #edd14a;
}

th{
    padding: 5px;
    white-space: nowrap;
    font: normal 24px 微軟正黑體;
    text-align: center;
}


.pagination li a {
    margin: 6px;
    color: black;
    font-size: 18px;
}

.navbar {
    background-color: #719c92;
}

#navA {
    color: #edd14a;
    font-size: 20px;
}

input[type="text"]{
   height:35px;
}

#motpic{
	max-width: 150px;
	max-height: 150px;
}