<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

 		<!-- JNDI連線池 (Apache Tomcat 連線池DBCP)設定 -->
		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/G2DB</property>
        
		<!--SQL方言,以下使用Oracle -->
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>

		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">true</property>

        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!--交易管理類型, 以下使用JDBC Transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        
        <!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!--Java物件與資料庫表格的映射檔 -->
		<mapping resource="com/rent_ord/model/motor2.hbm.xml" />
		<mapping resource="com/rent_ord/model/equipment2.hbm.xml" />
		<mapping resource="com/rent_ord/model/rent_ord2.hbm.xml" />
		<mapping resource="com/rent_ord/model/emt_list2.hbm.xml" />
		<mapping resource="com/member/model/member.hbm.xml" />
		
	<mapping resource="com/motor/model/motor.hbm.xml" />
  <mapping resource="com/motor_model/model/motor_model.hbm.xml" />
  <mapping resource="com/motor_dispatch/model/motor_dispatch.hbm.xml" />
  <mapping resource="com/motor_disp_list/model/motor_disp_list.hbm.xml" />
  <mapping resource="com/equipment/model/equipment.hbm.xml" />
  <mapping resource="com/emt_cate/model/emt_cate.hbm.xml" />
  <mapping resource="com/emt_dispatch/model/emt_dispatch.hbm.xml" />
  <mapping resource="com/emt_disp_list/model/emt_disp_list.hbm.xml" />
  <mapping resource="com/location/model/location.hbm.xml" />
		
		
	</session-factory>
	
</hibernate-configuration>
