<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- JDBC連線池 (預設會使用Hibernate內建的連線池)(不建議用在實際的專案) -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
		<property name="hibernate.connection.username">ba101g2</property>
		<property name="hibernate.connection.password">ba101g2</property>
        
		<!--SQL方言,以下使用Oracle -->
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>

		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">true</property>

        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!--交易管理類型, 以下使用JDBC Transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        
        <!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!--Java物件與資料庫表格的映射檔 -->
		<mapping resource="com/rent_ord/model/motor.hbm.xml" />
		<mapping resource="com/rent_ord/model/equipment.hbm.xml" />
		<mapping resource="com/rent_ord/model/rent_ord.hbm.xml" />
		<mapping resource="com/rent_ord/model/emt_list.hbm.xml" />
	</session-factory>
	
</hibernate-configuration>
